[run]
source =
    api
    calls
    contacts
    texts

omit = 
    */migrations/*
    */admin.py
    */apps.py
    */wsgi.py
    */tests.py
    */permissions.py
    */__init__.py

[report]
show_missing = True