html, body {
    background-color: #F0F0F1;
}
.num_button {
    width: 64px;
    height: 58px;
    border: 1px solid #99b;
    border-radius: 20px;
    display: inline-block;
    margin: 10px 15px;
    background-color: transparent;
    color: #448;
    outline: 0;
    font-size: 150%;
    font-family: Inconsolata;
}

#numfield {
    margin: 0 auto;
    padding-left: 51px;
    background-color: transparent;
    border-color: transparent;
    font-size: 30px;
    text-align: center;
    font-family: Inconsolata;
}

#delete_button {
    outline: 0;
    background-color: #dedee5;
}

#dial_button {
    border-radius: 100%;
    margin: 10px;
}
nav.navbar.navbar-default.bottom {
    position: absolute;
    top: 432px;
}
nav.navbar li.page_header {
    width: 118px;
}

#back_arrow_li {
    width: 86px;
}
td span.glyphicon {
    font-size: 18px;
}
tr.call_row {
    height: 50px;
}
table.table tr.call_row td {
    vertical-align: middle;
}
tr.call_row td.datetime {
    width: 80px;
}
a.contactlink {
    width: 100%;
    text-decoration: none;
}
a.contactlink.name {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
}
a.contactlink.time {
    color: black;
}