html, body {
    background-color: #F0F0F1;
}
.num_button {
    width: 64px;
    height: 58px;
    border: 1px solid #99b;
    border-radius: 20px;
    display: inline-block;
    margin: 10px 15px;
    background-color: transparent;
    color: #448;
    outline: 0;
    font-size: 150%;
    font-family: Inconsolata;
}

#numfield {
    margin: 0 auto;
    padding-left: 51px;
    background-color: transparent;
    border-color: transparent;
    font-size: 30px;
    text-align: center;
    font-family: Inconsolata;
}

#delete_button {
    outline: 0;
    background-color: #dedee5;
}

#dial_button {
    border-radius: 100%;
    margin: 10px;
}
nav.navbar.navbar-default {
    position: absolute;
    top: 432px;
}

table {
    height: 400px;
    width:100%;
    padding-right: 20px;
    font-size: 25px;
}

#table-container {
    height: 400px;
    width: 100%;
    margin-right: 10%;
    overflow: auto;
    overflow-x: hidden;
    margin-bottom:5px;
    float:left;
}

#call-list-nav {
    padding: 0 20px;
}