{% extends "pyphon/base.html" %}
{% load staticfiles %}

{% block title %}
New Message
{% endblock %}

{% block css %}
    <link href="{% static 'css/texts.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<header>
    <h3><a href="{% url 'message_list' %}"><span class="glyphicon glyphicon-chevron-left"></span></a></h3>
    <h3><a href="{% url 'home' %}"><span class="glyphicon glyphicon-home"></span></a></h3>
    <h2 id='new_messages' class="text-center">New Messages</h2>
</header>
<div class="col-lg-12 numdiv">
    <h3 class="text-center"> Find a contact... </h3>
    <a href="{% url 'contacts' %}"><h2 class="text-center"><span class="glyphicon glyphicon-user"></span></h2></a>
    <h3 class="text-center"> Or enter a number: </h3>
    <br>
    <form action='' method="POST">
        {% csrf_token %}
        <div class="input-group">
          <input id="number" name="number" placeholder="To" class="form-control">
          <span class="input-group-btn">
            <button id="delete_button" class="btn btn-secondary" type="button" onClick=deleteNumber(this);>&#9003</button>
          </span>
        </div>
        <input type="submit" name="Save" value="Submit">
    </form>
</div>

{% endblock %}
{% block js %}

<script type="text/javascript" src="{% static 'js/calls.js' %}"></script>
{% endblock %}