{% extends "pyphon/base.html" %}
{% load staticfiles %}

{% block title %}
New Message
{% endblock %}

{% block keyboard_css %}
    <!-- Text Template -->
    {% verbatim %}
        <script id="text-template" type="text/x-handlebars-template">
            <div class='message {{sender}}'>
                <h3>{{body}}</h3>
                <ul>
                    <li>Time: {{time}}</li>
                </ul>
            </div>
        </script>
    {% endverbatim %}

{% endblock %}

{% block keyboard_content %}
<header>
    <h2 id='contact'><a href="{% url 'message_list' %}">Messages</a></h2>
</header>
<div class="col-lg-12 numdiv">
    <div class="input-group">
      <input id="numfield" type="text" placeholder="To" class="form-control">
      <span class="input-group-btn">
        <button id="delete_button" class="btn btn-secondary" type="button" onClick=deleteNumber(this);>&#9003</button>
      </span>
    </div>
</div>
<div id='message-container'>

</div>
<form id="new_text" action="" method="POST">
    {% csrf_token %}
    {{ form }}
</form>


<div id="virtualKeyboard"></div>
{% endblock %}
{% block js %}
{% block keyboard_js %}
{% endblock %}
<script type="text/javascript" src="{% static 'js/calls.js' %}"></script>
{% endblock %}