{% extends "pyphon/keyboard.html" %}
{% load staticfiles %}

{% block title %}
Text Your Friends
{% endblock %}

{% block keyboard_css %}
    <!-- Text Template -->
    {% verbatim %}
        <script id="text-template" type="text/x-handlebars-template">
            <div class='message {{sender}}'>
                <h3>{{body}}</h3>
                <ul>
                    <li>Time: {{time}}</li>
                </ul>
            </div>
        </script>
    {% endverbatim %}

{% endblock %}


{% block keyboard_content %}
<header>
    <a href="{% url 'home' %}"><h3><span class="glyphicon glyphicon-home"></span></h3></a>
    <a id='contact' href="{% url 'message_list' %}"><img src="{% static 'texting.png' %}" /></a>
    {% if contact.name %}
        <h2><a id="contact-name" class="text-center" href="{%url 'contact_detail' contact.id %}">{{ contact.name }}</a></h2>
    {% else %}
        <h2 class="text-center">{{ contact.number|cut:"+" }}</h2>
    {% endif %}
</header>
<div id='message-container'>
    <div id='past_texts'>
        {% for text in texts %}
        <div class='message {{ text.sender }}'>
            <h4>{{ text.time|date:'d-m-Y P' }}</h4>
            <h3>{{ text.body }}</h3>
        </div>
        {% endfor %}
    </div>
    </div>
    <form id="ajax_form" action="" method="POST">
        {% csrf_token %}
        {{ form }}
    </form>
{% endblock %}

{% block keyboard_js %}
{% endblock %}