{% extends "pyphon/keyboard.html" %}
{% load staticfiles %}

{% block title %}
Text Your Friends
{% endblock %}

{% block keyboard_css %}
    <!-- Text Template -->
    {% verbatim %}
        <script id="text-template" type="text/x-handlebars-template">
            <div class='message {{sender}}'>
                <h3>{{body}}</h3>
                <ul>
                    <li>Time: {{time}}</li>
                </ul>
            </div>
        </script>
    {% endverbatim %}

{% endblock %}

{% block keyboard_content %}
    <header>
        <h2 id='contact'><a href="{% url 'message_list' %}">All Messages</a><a href="{%url 'contact_detail' contact.id %}">{{ contact.name }}</a></h2>
    </header>
    <div id='message-container'>
        <div id='past_texts'>
            {% for text in texts %}
            <div class='message {{ text.sender }}'>
                <h3>{{ text.body }}</h3>
                <ul>
                    <li>Time: {{ text.time }}</li>
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
    <form id="new_text" action="" method="POST">
        {% csrf_token %}
        {{ form }}
    </form>
{% endblock %}

{% block keyboard_js %}
{% endblock %}