
{% extends "pyphon/base.html" %}
{% load static %}

{% block title %}
Contacts
{% endblock %}

{% block content %}
<h2><a href="{% url 'contacts' %}"><- Back to Contacts</a></h2>
{% if contact.name %}
<h1 id="name">{{ contact.name }}</h1>
{% else %}
<h1 id="name">No Name</h1>
{% endif %}


<h2 id="callme">{{ contact.number }}</h2>
<h3><a href="edit/">Edit</a></h3>
<div id="text_button">
    <h2><a href="{% url 'texts' contact.id %}">Text</a></h2>
</div>

<div id="call_button">
    <button id="call_contact" type="button" class="btn btn-success call-customer-button">
        <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
    </button>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'js/call_contact.js' %}"></script>
{% endblock %}