{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} Home page {% endblock %}</title>
    <script type="text/javascript" src="//media.twiliocdn.com/sdk/js/client/v1.3/twilio.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|PT+Sans+Narrow" rel="stylesheet">
    <link href="{% static 'pyphon/base.css' %}" rel="stylesheet">
    <link href="{% static 'pyphon/layout.css' %}" rel="stylesheet">
    <link href="{% static 'pyphon/module.css' %}" rel="stylesheet">
    {% block css %}
    {% endblock %}
</head>
<body>

<div id="incoming" style="display:none">
    <h2 id="contact"></h2>
    <button id="answerbutton" class="btn btn-success btn-md incoming_call"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span><br>Accept</button>
    <button id="rejectbutton" class="btn btn-danger btn-md incoming_call"> <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span><br>Reject</button>
    <button id="hangupbutton" class="btn btn-danger btn-md"> <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span><br>End Call</button>
</div>
<div id="text_alert" style="display:none">
    <a id="alert_link" href="#">
        <h3 id="text_contact"></h3>
        <p id="text_content"></p>
    </a>
</div>
{% block content %}
{% endblock %}
<!-- Latest compiled and minified CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'js/incoming.js' %}"></script>
    <script src="{% static 'pyphon/base.js' %}"></script>
{% block js %}
{% endblock %}
</body>
</html>