{% extends "base.html" %}
{% load static %}

{% block title %}
Home page
{% endblock %}

{% block css %}
<link href="{% static 'pyphon/module.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div><h2>Your Pyphon</h2></div>
<div>
    <ul>
        <li class='app_button'>
            <a href="{% url 'message_list' %}">
                <div><img src="{% static 'texting.png' %}" /></div>
            </a>
        </li>
        <li class='app_button'>
            <a href="{% url 'calls' %}">
                <div><img src="{% static 'images.png' %}" /></div>
            </a>
        </li>
        <li class='app_button'>
            <a href="{% url 'contacts' %}">
                <div><img src="{% static 'images.png' %}" /></div>
            </a>
        </li>
        <li class='app_button'>
            <a href="{% url 'api_texts' %}">
                <div><img src="{% static 'images.png' %}" /></div>
            </a>
        </li>
    </ul>
</div>

{% endblock %}
