server_names_hash_bucket_size 128;

server {
    listen 80;
    server_name {{ server_dns }};
    access_log /var/log/nginx/test.log;

    location / {
        proxy_pass http://127.0.0.1:8000;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location /static/ {
        alias {{ project_dir }}/pyphon/static/;
    }
}