{% extends "pyphon/base.html" %}

{% block title %}
Home page
{% endblock %}

{% block content %}
<div><h2>Your Pyphon</h2></div>
<div>
    <ul>
        <li><a href="{% url 'texts' %}">Text Your Friends</a></li>
        <li><a href="{% url 'api_texts' %}">Texts api</a></li>
        <li><a href="{% url 'api_texts' %}">Textdfdfpi</a></li>
    </ul>
</div>

{% endblock %}

<div><h2>Your Pyphon</h2></div>
<div>
    <ul>
        <li><a href="{% url 'texts' %}">Text Your Friends</a></li>
        <li><a href="{% url 'api_texts' %}">Texts api</a></li>
        <li><a href="{% url 'api_texts' %}">Textdfdfpi</a></li>
    </ul>
</div>