html, body {
    width: 320px;
    height: 480px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#incoming {
    position: absolute;
    height: 480px;
    width: 320px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .85);
    z-index: 100;
    text-align: center;
}

#delete_button {
    z-index: 1;
}

#contact {
    color: whitesmoke;
}

.btn-md {
    position: relative;
    top: 200px;
    padding: 8%;

}

.btn-success {
    margin-right: 13%;
}

.glyphicon {
    font-size: 26px;
}

table {
    overflow: scroll;
}

td {
    font-size: 14px;
    padding: 5px;
}

.datetime {
    font-size: 10px;
}

a.contact_name {
    text-decoration: none;
}